

.footer {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;

}

.footer-logo {
    align-items: flex-start;
}

.footer-text {
    display: flex;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: bold;
    align-items: flex-end;
    color: black;
    text-decoration: none;
    list-style: none;
    gap: 20px;

}

.footer-logos {
display: flex;
gap: 20px;
}