

.navigation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.navigation .logo {
    align-items: flex-start;
}

.navigation .text {
    font-size: 18px;
    font-weight: bold;
}