@import '_fonts';
@import '_contact';
@import '_footer';
@import '_navigation';
@import '_projectdetails';

body {
    margin: 0;
    font-family: "Mulish", sans-serif;
     margin-left: 125px;
    margin-right: 125px;
    
}

.page {
    display: flex;
    gap: 60px;

}

p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
    max-width: 400px;;
}

.p-intro {
    font-size: 40px;
    font-weight: bold;
    color: #111111;

    & span {
        color: #4A4FF2;
    }
}

h3 {
    font-size: 22px;
    font-weight: bold;
    color: #4A4FF2;
    max-width: 400px;
}


.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
}


.text-left-page {
    flex: 1;
}

.text-right-page {
    flex: 1;
}

.container-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.list-column-style {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.p-grey-text {
    color: #979797;
    font-size: 18px;
    font-weight: italic;
    max-width: 400px;
    margin-top: 400px;
}

.text-after-pic {

font-size: 28px;
font-weight: bold;
line-height: 38px;
max-width: 400px;
max-height: 106px;
}

.list-after-pic {
font-size: 18px;
max-width: 200px;
max-height: 106px;
justify-content: left;

}