@import 'fonts';
@import 'contact';
@import 'footer';
@import 'navigation';

body {
    max-width: 1110px;
    font-family: "Mulish", sans-serif;
    background-color: blue; !important;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: blue;
}


.title {
    
}

.text-right-page {
    text-align: right;
}

.text-left-page {
    text-align: left;
}

.container-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.list-column-style {
    
}